@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Cinzel:wght@600;700&family=Domine:wght@700&family=Eczar:wght@500&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap'); */


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */

:root {
    --blue: #2980b9;
}

* {
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37, 1.14, .26, 1.24);
}

*::selection {
    background: #5e7a80;
    color: #fff;
}


/* html {
    font-size: 62.5%;
    overflow-x: hidden;
} */

header {
    margin-bottom: 110px;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    height: 4rem;
    width: 14rem;
    background: var(--blue);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn:hover {
    letter-spacing: .2rem;
    opacity: .8;
}

.heading {
    padding-top: 7rem;
    width: 95%;
    border-bottom: .2rem solid rgba(0, 0, 0, .3);
    margin: 0 auto;
}

.heading span {
    font-size: 2rem;
    padding: 1rem 6rem;
    color: #fff;
    background: var(--blue);
    border-top-right-radius: 3rem;
    display: inline-block;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    height: 70px;
    background: #1d3557;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    /* max-width: 1250px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space;
    margin: auto;
    /* background: red; */
    padding: 0 30px;
    margin-bottom: 100px;
}

.navbar .logo a {
    font-family: 'Cinzel', serif;
    font-size: 30px;
    color: #e63946;
    text-decoration: none;
    font-weight: 600;
}

.navbar .logo a:hover {
    color: yellow;
}

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
    /* display: flex;
    justify-content: center; */
}

nav .navbar .links {
    display: flex;
    justify-content: center;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 10px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

nav .navbar .links li a:hover {
    color: #e63946;
    font-size: 15px;
    font-weight: 502;
    /* padding-bottom: 5px; */
}


/* .links li:hover .js-arrow */

.links li:hover .htmlcss-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #1d3557;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
    /* background: rgb(0, 255, 0); */
}


/* nav .navbar .links li:hover .js-sub-menu */

nav .navbar .links li:hover .htmlCss-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
    padding-top: 10px;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #1d3557;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
    top: 75px;
    opacity: 1;
    pointer-events: auto;
    background: #1d3557;
}

.search-box .input-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #1d3557;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}


/* nav .navbar .icons {} */

nav .navbar .icons a {
    color: #e63946;
    font-size: 1.8rem;
    padding: 1rem 1rem;
    text-decoration: none;
}

nav .navbar .icons a:hover {
    color: #f7df07;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .linksaid {
    display: flex;
    justify-content: flex-end;
}

.navbar .bx-menu {
    display: none;
}

@media (max-width:1040px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 10px;
    }
    nav .navbar .logo a {
        font-size: 30px;
    }
    nav .navbar .links li {
        padding: 0 7px;
        white-space: nowrap;
    }
    nav .navbar .links li a {
        font-size: 15px;
    }
    nav .navbar .icons a {
        color: #e63946;
        font-size: 1.8rem;
        padding: 1rem 1rem;
        text-decoration: none;
    }
    .navbar .linksaid {
        display: inline-flex;
        justify-content: flex-end;
    }
}

@media (max-width:940px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 7px;
    }
    nav .navbar .logo a {
        font-size: 24px;
    }
    nav .navbar .links li {
        padding: 0 7px;
        white-space: nowrap;
    }
    nav .navbar .links li a {
        font-size: 12px;
    }
    nav .navbar .icons a {
        color: #e63946;
        font-size: 1.7rem;
        padding: 1rem 1rem;
        text-decoration: none;
    }
    .navbar .linksaid {
        display: inline-flex;
        justify-content: flex-end;
    }
}

@media (max-width:800px) {
    nav .navbar .logo a {
        font-size: 24px;
    }
    .navbar .bx-menu {
        display: block;
    }
    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: #1d3557;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }
    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #fff;
    }
    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }
    nav .navbar .links li .arrow {
        line-height: 40px;
    }
    nav .navbar .links li {
        display: block;
    }
    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    nav .navbar .links li .sub-menu li {
        border-bottom: none;
    }
    /* .links li:hover .js-arrow */
    .links li:hover .htmlcss-arrow {
        transform: rotate(0deg);
    }
    /* nav .navbar .links li:hover .js-sub-menu  */
    nav .navbar .links li:hover .htmlCss-sub-menu {
        display: none;
    }
    /* .navbar .nav-links.show2 .links .js-sub-menu */
    .navbar .nav-links.show1 .links .htmlCss-sub-menu {
        display: block;
    }
    /* .navbar .nav-links.show2 .links .js-arrow */
    .navbar .nav-links.show1 .links .htmlcss-arrow {
        transform: rotate(180deg);
    }
    .navbar .linksaid {
        display: inline-flex;
        justify-content: flex-end;
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
    nav .navbar .icons a {
        color: #e63946;
        font-size: 3rem;
        padding: 1rem 1rem;
        text-decoration: none;
    }
    .navbar .linksaid {
        display: inline-flex;
        justify-content: flex-end;
    }
}


/* --------------------------------------------------------------------- */