@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');
 :root {
    --blue: #2980b9;
}

* {
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37, 1.14, .26, 1.24);
}

*::selection {
    background: #b8c4e6;
    color: #fff;
}

.btn1 {
    height: 2.6rem;
    width: 8rem;
    background: var(--blue);
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn1:hover {
    letter-spacing: .2rem;
    opacity: .6;
}


/* --------- deal start   ------------ */

.deal {
    background-color: fff;
}

.deal .icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    flex-wrap: wrap;
}

.deal .icons-container .icons {
    flex: 1 1 18rem;
    padding: 0.3rem;
    margin: 0.5rem;
    text-align: center;
    border: 0.03rem solid var(--blue);
    background-color: rgb(232, 238, 241);
}

.deal .icons-container .icons:hover {
    background-color: #fff;
}

.deal .icons-container .icons i {
    color: #007bb5;
    font-size: 2.5rem;
    padding: 0.6rem 0;
}

.deal .icons-container .icons h3 {
    color: #333;
    font-size: 1.5rem;
}

.deal .icons-container .icons p {
    color: #0470a1;
    font-size: 1rem;
    /* font-weight: 600; */
    padding: 0.3rem 0;
}


/* --------- deal end   ------------ */


/* --------- newsletter start   ------------ */

.newsletter {
    background-color: #007bb5;
    padding: 1rem 0.5rem;
    text-align: center;
}

.newsletter h1 {
    color: #fff;
    font-size: 2.5rem;
}

.newsletter p {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.newsletter form {
    height: 3rem;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
    background: rgba(0, 0, 0, .3);
}

.newsletter form input[type="email"] {
    height: 100%;
    width: 80%;
    padding: 0 1rem;
    outline: none;
    border: none;
    background: none;
    font-size: 1.4rem;
    color: #fff;
}

.newsletter form input[type="submit"] {
    border-radius: 5rem;
}


/* --------- newsletter end   ------------ */


/* --------- footer start   ------------ */

footer {
    width: 100%;
    background-color: #1d3557;
    min-height: 250px;
    padding: 10px 0px 5px 0px;
}

.headin5_amrc {
    font-size: 20px;
    color: #fff;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 15px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

footer p:hover {
    color: rgb(139, 139, 49);
}

.mb10 {
    padding-bottom: 17px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 16px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    text-decoration: none;
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: rgb(139, 139, 49);
    text-decoration: none;
}

.fleft {
    float: left;
}

.bottom_border {
    border-bottom: 1px solid #189cda;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: rgb(255, 255, 255);
    margin: 0 12px;
    text-decoration: none;
    font-size: 15
}

.foote_bottom_ul_amrc li a:hover {
    color: rgb(139, 139, 49);
}

.text-center {
    padding-bottom: 15px;
    font-size: 14px;
}

.text-center:hover {
    color: rgb(139, 139, 49);
}

.svg-inline--fa {
    vertical-align: -0.200em;
}

.footer img {
    margin-top: 10px;
}

.iconn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-bottom: 0;
}

.iconn img {
    margin-top: 12px;
    padding-top: 0px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 20px;
    width: 225px;
    height: 32px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-social-icons {
    width: 350px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-bottom: 0;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 200px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.fa-facebook {
    padding: 10px 16px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-instagram {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-instagram:hover {
    background-color: #ed0067;
}

.fa-rss {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-rss:hover {
    background-color: #eb8231;
}

.fa-youtube {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-youtube:hover {
    background-color: #ea2c22;
}

.fa-instagram {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-instagram:hover {
    background-color: #fb0668;
}

.fa-telegram {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-telegram:hover {
    background-color: #0073a4;
}


/* --------- footer end   ------------ */


/* media queries  */

@media (max-width:940px) {
    .newsletter form {
        height: 3rem;
        max-width: 40rem;
        margin: 0 auto;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5rem;
        background: rgba(0, 0, 0, .3);
    }
    .iconn {
        width: 80%;
        margin-left: 120px;
    }
    .iconn img {
        margin-top: 12px;
        padding-top: 0px;
        margin-left: 80px;
        margin-right: 0px;
        margin-bottom: 20px;
        width: 225px;
        height: 32px;
        margin-bottom: 20px;
        padding-bottom: 0;
    }
}

@media (max-width:800px) {
    .newsletter form {
        height: 3rem;
        max-width: 25rem;
        margin: 0 auto;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5rem;
        background: rgba(0, 0, 0, .3);
    }
    .iconn {
        width: 70%;
        margin-left: 90px;
    }
    .iconn img {
        margin-top: 12px;
        padding-top: 0px;
        margin-left: 50px;
        margin-right: 0px;
        margin-bottom: 20px;
        width: 225px;
        height: 32px;
        margin-bottom: 20px;
        padding-bottom: 0;
    }
}

@media (max-width:470px) {
    .iconn p {
        margin-left: 50px;
    }
    .iconn .footer-social-icons {
        margin-left: 50px;
    }
    .iconn img {
        margin-top: 12px;
        padding-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        width: 225px;
        height: 32px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}