@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #2ca7e9;
}


/* 
.row {
    margin: auto;
    padding: auto;
}

.card {
    font-family: 'Eczar', serif;
    margin: 10px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #2880b8;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.65));
}

.card-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.card .card-text {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


.multi-button {
    text-align: center;
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
}

.multi-button button {
    height: 35px;
    width: 100px;
    background: linear-gradient(to bottom, #a8d5dc, #a8d5dc);
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    border: none;
    margin: -5px;
    padding: 0;
    stroke: black;
    outline: none;
} */


/* .multi-button :nth-child(1) {
    border-radius: 20px 0 0 0px;
} */


/* 
.multi-button :nth-child(1) :hover {
    color: rgb(3, 194, 44);
}

.multi-button :nth-child(2) :hover {
    color: rgb(252, 0, 0);
} */


/* .multi-button :nth-child(3) {
    border-radius: 0 0px 20px 0;
} */


/* 
.multi-button :nth-child(3) :hover {
    color: rgb(0, 140, 255);
}

button:hover {
    cursor: pointer;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}

button:active {
    filter: none;
    transform: scale(.95);
}

.multi-button button a {
    text-decoration: none;
    color: #1d3557;
} */

.fixnav {
    position: fixed;
}

.parent {
    margin-top: 10px;
}

.comp {
    padding-top: 90px;
    text-align: center;
    font-size: 50px;
    font-family: 'Eczar', serif;
    color: #050505;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 1));
}


/* -------- Card Start  -------- */

.row {
    margin: auto;
    padding: auto;
}

.card {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 1px solid #00d9ff;
    /* font-family: 'Eczar', serif; */
    /* border-radius: 20px 0px 20px 0px; */
    margin: 10px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #2880b8;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.65));
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


/* 
img {
    position: relative;
    transition: all 0.3s ease 0s;
}

img:hover {
    transform: translate(20px, -10px);
} */

.card .card-text {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


/* ------------------------ */

.product-grid .product-image {
    position: relative;
}

.product-grid .product-image a.image {
    display: block;
}

.product-grid .product-image img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
}

.product-grid .product-image:hover img {
    transform: translate(10px, -10px);
}

.product-grid .product-sale-label {
    color: #fff;
    background: #1abc9c;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 35px;
    width: 55px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    animation: bg-animate 5s infinite linear;
}

.product-grid .product-links {
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    left: 20px;
    transition: all 0.3s ease 0s;
}

.product-grid:hover .product-links {
    opacity: 1;
}

.product-grid .product-links li {
    margin: 0 0 5px;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease 0s;
}

.product-grid:hover .product-links li:nth-child(2) {
    transition: all 0.3s ease 0.15s;
}

.product-grid:hover .product-links li {
    opacity: 1;
    transform: translateX(0);
}

.product-grid .product-links li a {
    color: #fff;
    text-decoration: none;
    background-color: #00b894;
    font-size: 14px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    padding: 8px 10px;
    display: block;
    opacity: 0.9;
    transition: all 0.3s ease 0s;
    animation: bg-animate 5s infinite linear;
}

.product-grid .product-links li a:hover {
    color: #fff;
    box-shadow: 0 0 0 3px #fff inset;
    opacity: 1;
}

.product-grid .product-links li a i {
    margin: 0 5px 0 0;
}

@keyframes color-animate {
    0% {
        color: #00b894;
    }
    20% {
        color: #00cec9;
    }
    40% {
        color: #0984e3;
    }
    60% {
        color: #6c5ce7;
    }
    80% {
        color: #e84393;
    }
    100% {
        color: #00b894;
    }
}

@keyframes bg-animate {
    0% {
        background-color: #00b894;
    }
    20% {
        background-color: #00cec9;
    }
    40% {
        background-color: #0984e3;
    }
    60% {
        background-color: #6c5ce7;
    }
    80% {
        background-color: #e84393;
    }
    100% {
        background-color: #00b894;
    }
}

@media screen and (max-width:1200px) {
    .product-grid {
        margin: 0 0 30px;
    }
}


/* .card img {
    border-radius: 20px 0px 0px 0px;
} */

.multi-button {
    text-align: center;
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
}

.multi-button button {
    height: 30px;
    width: 95px;
    background-color: #71c0d6;
    /* background: linear-gradient(to bottom, #a8d5dc, #a8d5dc); */
    /* font-weight: bold; */
    /* color: rgb(220, 13, 13); */
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    margin: -5px;
    padding: 0;
    stroke: black;
    outline: none;
}


/* .multi-button button:hover {
    background-color: #d67171;
} */

.multi-button button a .del:hover {
    background-color: red;
}


/* .multi-button button:hover {
    background-color: #00b894;
} */


/* .multi-button :nth-child(1) {
    border-radius: 20px 0 0 0px;
} */

.multi-button :nth-child(1) :hover {
    color: rgb(3, 194, 44);
}

.multi-button :nth-child(2) :hover {
    color: rgb(252, 0, 0);
}


/* .multi-button :nth-child(3) {
    border-radius: 0 0px 20px 0;
} */

.multi-button :nth-child(3) :hover {
    color: rgb(0, 140, 255);
}

button:hover {
    cursor: pointer;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}

button:active {
    filter: none;
    transform: scale(.95);
}

.multi-button button a {
    text-decoration: none;
    color: #1d3557;
}


/* -------- Card End  -------- */