@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #2880b8;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .productImage {
    margin: 1rem;
    height: 100%;
    width: 100%;
    margin-top: 3rem;
    background-color: #2880b8;
    border: none;
}

.container form {
    margin: 1rem;
    background-color: rgb(13, 144, 200);
    border-radius: 5px;
    padding: 1rem;
}

.container form table tr td {
    border: none;
}

.container form table tr th {
    border: none;
}


/* -------- Product Create start  -------- */

.comp {
    padding-top: 90px;
    text-align: center;
    font-size: 50px;
    font-family: 'Eczar', serif;
    color: #050505;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 1));
}

fieldset {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    padding: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #0096e681;
}


/* -------- Product Create end  -------- */


/* -------- Product Update start  -------- */


/* .butten1 {
    transition: all .3s ease;
    color: #131314;
    border: 1px solid #0eac0e;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    background-color: transparent;
    background-color: rgb(23, 136, 89);
    padding: 7px;
    outline: none;
    border-radius: 4px;
}

.butten1:hover {
    color: #f1f2f8;
    background-color: rgb(7, 197, 45);
} */

.button1 {
    height: 30px;
    width: 90px;
    background-color: green;
    font-size: 0.9rem;
    border: none;
    margin: -1px;
    padding: 0;
    stroke: black;
    outline: none;
}

.button1:hover {
    cursor: pointer;
    filter: drop-shadow(3px 2px 5px rgba(0, 0, 0, 0.9));
    background-color: rgb(98, 242, 98);
}

.button2 {
    height: 30px;
    width: 180px;
    background-color: rgb(210, 12, 12);
    font-size: 0.9rem;
    border: none;
    margin: -1px;
    padding: 0;
    stroke: black;
    outline: none;
}

.button2:hover {
    cursor: pointer;
    filter: drop-shadow(3px 2px 5px rgba(0, 0, 0, 0.9));
    background-color: rgb(255, 47, 0);
}

.button3 {
    height: 30px;
    width: 90px;
    background-color: orange;
    font-size: 0.9rem;
    border: none;
    margin: -1px;
    padding: 0;
    stroke: black;
    outline: none;
}

.button3:hover {
    cursor: pointer;
    filter: drop-shadow(3px 2px 5px rgba(0, 0, 0, 0.9));
    background-color: rgb(250, 238, 8);
}


/* .createbtn {
    display: flex;
    justify-content: space-around;
} */


/* .btn3 {
    margin-top: 1rem;
    display: inline-block;
    border-radius: .5rem;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    background: #2880b8;
    text-decoration: none;
}

.btn3:hover {
    background: #a8d5dc;
} */


/* .container {
    display: flex;
    justify-content: center;
} */


/* .ucontainer {
    display: flex;
    justify-content: center;
} */


/* -------- Product Update end  -------- */


/* -------- Product Delete start  -------- */

.formdel {
    align-items: center;
}

.condel {
    display: flex;
    justify-content: center;
}

.abovtit {
    display: flex;
    justify-content: center;
}

.abovtitdlt {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pdlt {
    margin-top: 4rem;
    justify-content: center;
}

.dlt {
    margin: auto;
    margin-top: 110px;
    width: 50%;
    padding: 80px 25px 85px 100px;
    border-radius: 5px;
    background-color: #0096e681;
}


/* -------- Product Delete End  -------- */